<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459623171333-ao9on7d7ftlg8p1k5pugvck3uefjng5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459623171333-ao9on7d7ftlg8p1k5pugvck3uefjng5m</string>
	<key>API_KEY</key>
	<string>AIzaSyDqV2Z0W1TqlYivUaAskLC3AkszQv40yko</string>
	<key>GCM_SENDER_ID</key>
	<string>459623171333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lotto</string>
	<key>PROJECT_ID</key>
	<string>test-todo-6056e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-todo-6056e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459623171333:ios:0d3a9307a52a374675236c</string>
	<key>DATABASE_URL</key>
	<string>https://test-todo-6056e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>